body{
  padding: 1rem;
}
ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: #0d6efd;
  }
  
  a:hover {
    background: #0d6efd;
  }
  
  a:active {
    background: #0d6efd;
    color: white;
  }
  .logo{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .container-fluid a{
    background-color: transparent;
  }
  .btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 576px){
    .logo{
      width: 100%;
    }
  }

  @media (min-width: 577px) and (max-width: 767px){
    .logo{
      width: 100%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px){

  }

  @media (min-width: 992px) {